body
    {
        margin-left: auto;/*the two side wide.ok*/
        margin-right: auto;
        font-size:50px;    /*the body content font .ok*/
        text-align:center;/*content center.ok*/
    }
DIV{position:absolute ;left:50px;right:50px;}
.example
    {
       margin-left: 3%; 
    
    }
#menu
    {
        position: relative;
        background: #dbdbdb no-repeat;
        height: 40px;
        padding: 0px 0px 0px 0px;
        margin: 0px 0px 10px 0px;

    }
#menu ul li
        {
        display: inline;
        line-height: 40px;
        padding-left: 3px;
        }
        
#menu ul li.first
       {
        border-left: 0px;
        }
.font{
        color:#009900;/*ok*/

}        
.border{
        border:1px solid #000000;/*not ok*/
}
#menu ul li a
        {
        background-color: transparent;
        background-repeat: repeat-x;
        padding: 8px 12px 8px 12px;
        font-size: 15px;
        font-weight: bold;
        }
        
#container{/*需要居中的容器:ok*/
        width:700px;
        margin:auto 0;
        border:7px solid #000000;/*width:center unchange with :ok*/

}
